<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .textarea1 {
        resize:none
    }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The DOOR</title>
</head>
<body>
    <form action = "posts.txt" method = "get">
        <textarea class="textarea1" style="width: 430px; height: 215px" placeholder="Type here!" id="post_{{user}}" rows = "5" cols = "60" name = "Post">
        </textarea><br>
        <input type = "submit" value = "Post" />
     </form>
</body>
</html>